html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  height: 100%;
}
.wrap{
  width: 80%;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
}
ul.head-nav, .auth-data{
  display: flex;
  justify-content: flex-start;
}
li.item-head-nav, .palka{
  margin-left: 20px;
}